body{
  background:black;
  width:1500px;


}

header{
  border-bottom:3px solid blue;

}
.photo{
  height:280px;
  width:200px;
  border:1px blue solid;
  margin:24px;
 background-position:center;
}

h1{
  font-family: 'Artifika', serif;
}

h4{
  font-family: 'Acme', sans-serif;
}

.top{
  display:flex;
  flex-direction:row;
  background-color:#f9f9a7;
  justify-content:flex-start;
  color:black;
}

.contract{
  display:flex;
  flex-direction:row;
  background-color: #a7f6f9;
  opacity:1;
  color:black;
  justify-content:space-around;
  text-align:center;

}
.fa{
  margin-top:24px;

}
.three{
  display:flex;
  flex-direction:column;
  color:white;
}

.bottom{
  border-bottom:4px solid springgreen;
  font-family: 'Orbitron', sans-serif;
}
.pad{
  margin-top:24px;
  padding:15px;
  border:2px solid yellow;
  color:white;
}
footer{
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  background:#838480;
  color:white;
  margin-top:10px;
}

ol,ul{
font-family: 'Cabin Condensed', sans-serif;
animation-duration: 1s;
animation-name:glissement;
animation-iteration-count:1s;
}
@keyframes glissement {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

a{
  color:black;

}
